/* GLOBALLY USED */
* {
  font-family: 'Open Sans', sans-serif;
}

.clear{
	clear: both;
}

.clear:before,
.clear:after {
	content: "";
	display: table;
}
.clear:after {
	clear: both;
}

.float-left {
	float: left;
}

.float-right{
	float: right;
}

.special-background-dark{
	background-image: url("img/bg-dark.jpg");
	}

.special-backgound-light{
	background-image: url("img/bg-light.gif");
	}

.title-container-light{
	height: 111px;
	margin: 0 100px;
	border-bottom: 1px dashed #63501e;
	margin-bottom: 30px;
	}

.title-light{
	text-align: center;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: lighter;
	color: #95782d;
	padding-top: 40px;
	}

.title-container-dark{
	height: 111px;
	margin: 0 100px;
	border-bottom: 1px dashed #b4974c;
	margin-bottom: 40px;
	}

.title-dark{
	text-align: center;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: lighter;
	color: #c7a457;
	padding-top: 40px;
	}









/* ================== header ====================== */

.base-container{
	width: 1280px;
	margin: 0 auto;
}

.header{
	height: 95px;
	background-color: #473a2d;
}

.logo{
	height: 100%;
	width: 200px;
#	background-color: red;
	margin-left: 100px;
	float: left;
	}

.logo .logo-image{
	margin-top: 22px;
	}

/* ================== MENU ====================== */

.menu-container{
	width: 617px;
#	background-color: red;
	margin-right: 80px;
	float: right;
	padding: 19px 0;
}

	.menu{
		height: 55px;
		width: 500px;
#		background-color: #00dbfd;
		float: left;
		border-right: 1px solid white;
	}

		.menu ul{
			list-style-type: none;
			}
		.menu ul li{
			float: left; 
			font-family: 'Open Sans';
			font-size: 15px;
			}
		.menu ul li a{
			display: block;
			padding: 10px;
			text-decoration: none;
			color: white;
			margin-top: -8px;
			margin-right: 7px;
			}
		.menu ul li a:hover{
			background-color: #5b4d3b;
			}

	.languages{
		height: 55px;
		width: 115px;
#		background-color: fuchsia;
		float: right;
	}

	.languages ul{
			list-style-type: none;
			margin-left: -25px;
	}
	
	.languages ul li{
		float: left; 
		font-family: 'Open Sans';
		font-size: 13px;
	}		
	
	.languages ul li a{
		display: block;
		padding: 10px;
		text-decoration: none;
		color: white;
		margin-top: -8px;
	}
	.languages ul li a:hover{
		background-color: #5b4d3b;
	}
/* ================== SLIDER ====================== */

.slider{
	width: 1280px;
	height: 543px;
	position: relative;
}

.slider-image{

}

.arrow-left-container{
	width: 25px;
	height: 42px;
#	background-color: black;
	position: absolute;
	left: 75px;
	top: 250px;
}

	.arrow-left{
		background-image: url("img/arrow-left.png");
		width: 25px;
		height: 42px;
		cursor: pointer;
	}
	.arrow-left:hover{
		background-image: url("img/arrow-left-h.png");
	}

.arrow-right-container{
	width: 25px;
	height: 42px;
#	background-color: black;
	position: absolute;
	right: 75px;
	top: 250px;
}

	.arrow-right{
		background-image: url("img/arrow-right.png");
		width: 25px;
		height: 42px;
		cursor: pointer;
	}
	.arrow-right:hover{
		background-image: url("img/arrow-right-h.png");
	}

.slider-title-container1{
	text-align: center;
	width: 200px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.6);
	filter: alpha(opacity=60); /* For IE8 and earlier */
	position: absolute;
	left: 150px;
	top: 230px;
	cursor: pointer;
}

	.slider-title1{
		color: white;
		font-family: 'Open Sans';
		font-size: 33px;
		font-weight: 400;
		margin: 5px;
		}

.slider-title-container2{
	text-align: left;
	width: 320px;
	height: 75px;
	background-color: rgba(0, 0, 0, 0.6);
	filter: alpha(opacity=60); /* For IE8 and earlier */
	position: absolute;
	left: 150px;
	top: 310px;
	cursor: pointer;
}

	.slider-title2{
		color: white;
		font-family: 'Open Sans';
		font-size: 19px;
		font-weight: 300;
		margin: 10px 5px 5px 15px;
		}

.slider-links-container{
	position: absolute;
	bottom: 0px;
	left: 600px;
	margin-bottom: 20px;
}

	span.slider-link{
		border: 4px solid #cebb89;
		border-radius: 50%;
		background-color: #cebb89;
		width: 10px;
		height: 10px;
		display: block;
		margin-right: 10px;
		float: left;
	}
	span.slider-link:hover{
		background-color: #d9cbbf;
		cursor: pointer;
	}




/* ================== SERVICES ====================== */
.services-icon{
	float: left;
}


.services-line{
	border-bottom: 1px solid #534c38;
	width: 55px;
}



.services-prices-wrapper{
}

	.services{
		height: 700px;
	#	background-color: red;
	#	opacity: 0.3;
	}

		.services-columns{
			margin: 0 100px;
		#	background-color: yellow;
			}
	
			.services-column1{
				width: 340px;
			#	background-color: blue;
				float: left;
				}
			.services-column2{
				float: left;
				width: 340px;
			#	background-color: red;
				margin: 0 30px;
				}
			.services-column3{
				float: left;
				width: 340px;
			#	background-color: brown;
				}



.services-info{
	width: 250px;
	float: left;
	margin-left: 10px;
	float: left;
}

.services-info h2{
	margin-top: 0px;
	font-family: 'Open Sans';
	font-size: 24px;
	font-weight: lighter;
	color: #473a15;
}

.services-info p{
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: lighter;
	color: #534c38;
}











	.prices{
#	background-color: aqua;
	}

		.pricing-columns{
			margin: 0 100px;
		}
		
		
			.pricing-column1{
				width: 510px;
			#	height: 600px;
				float: left;
				margin-right: 30px;
			#	background-color: lime;
				margin-bottom: 80px;
			}

			.pricing-column1 > div  h3{
				font-family: 'Open Sans';
				font-size: 17px;
				font-weight: lighter;
				color: #473a15;
				margin-top: 5px;
			}
			
			.pricing-column2{
				width: 510px;
				height: 400px;
				float: left;
				margin-left: 30px;
			#	background-color: blue;
			}
		
			.pricing-column2 > div h3{
				font-family: 'Open Sans';
				font-size: 17px;
				font-weight: lighter;
				color: #473a15;
				margin-top: 5px;
			}


		.prices table {
			border-collapse: collapse;
			min-width: 100%;
		}
		
		.prices table td.price{
		text-align: left;
		font-weight: 600;
		vertical-align: text-top;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		}
		
		.prices table th, .prices table td{
		
		}
				
		.prices table th{
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #dfd9cf;
		}

		.tabletitle, .tabletd{
			text-align: left;
			padding-left: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 13px;
		}


tr.grey-bg{
	background-color: #f2ebe1;
}

tr.tableline{
	border-bottom: 1px solid #dfd9cf;
}

.small-text{
	font-size: 11px;
}

		
/* ================== ABOUT US ====================== */

.about-us{
/* 	height: 800px; */
#	background-color: blue;
}

.about-us-subcontainer{
	margin: 0 0px;
}

		.about-us-intro-text{
			font-family: 'Open Sans';
			font-size: 17px;
			font-weight: lighter;
			color: white;
			margin-top: 65px;
			margin-bottom: 45px;
			}
			
.about-us-person1, .about-us-person2{
	width: 450px;
#	height: 600px;
#	background-color: yellow;
	margin-bottom: 50px;
}

.about-us-person1{
	margin-right: 30px;
	float: left;
	padding-left: 25px;
}

.about-us-person2{
	margin-left: 30px;
	float: right;
	padding-right: 25px;
}

.personal-info-container{
	width: 300px;
	height: 230px;
	margin: 0 auto;
#	background-color: brown;
	text-align: center;
}

.personal-info-container img{
	width: 100px;
	border: 5px solid #C7A457;
	border-radius: 50%;
}

.personal-info-container h1{
	font-family: 'Open Sans';
	font-size: 35px;
	font-weight: lighter;
	color: #C7A457;
	line-height: 10px;
}

.personal-info-devider{
	border-bottom: 1px solid #8d7b66;
	margin-bottom: 10px;
}

.tel, .email{
	color: #C7A457;
}

.certificates-container{
	margin-top: 20px;
	background-color: #624e36;
}

.one-certificate-container{
#	background-color: red;
	width: 195px;
	height: 50px;
	color: #eadfcd;
	margin: 10px 15px;
	float: left;
}

.one-certificate-container2{
#	background-color: red;
	width: 155px;
	height: 50px;
	color: #eadfcd;
	margin: 10px 145px;
	float: left;
}

.one-certificate-logo{
	
}

.one-certificate-text{
	font-size: 10px;
	margin-top: 7px;
}

.one-certificate-subtext {
	font-size: 13px;
	font-weight: lighter;
	color: white;
}

/* ================== CLIENTS ====================== */

.clients{
	position: relative;
#	height: 630px;
}

.clients-containers{
	margin: 0 100px 50px 100px;
}

.clients-row1{
	width: 100%;
	height: 80px;
#	background-color: red;
	margin-top: 50px;

}

.clients-row2{
	width: 100%;
	height: 77px;
#	background-color: blue;
	margin-top: 80px;
}

.clients-row3{
	width: 100%;
	height: 90px;
#	background-color: green;
	margin-top: 80px;
}

.partner-lzm{
	background-image: url("_temp/partners/logo-lzm1.png");
	width: 217px;
	height: 56px;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 66px;
	float: left;
}
.partner-lzm:hover{
	background-image: url("_temp/partners/logo-lzm2.png");
}

.partner-mezi{
	background-image: url("_temp/partners/logo-mezi1.png");
	width: 156px;
	height: 73px;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 66px;
	float: left;
}
.partner-mezi:hover{
	background-image: url("_temp/partners/logo-mezi2.png");
}

.partner-gibson{
	background-image: url("_temp/partners/logo-gibson1.png");
	width: 159px;
	height: 51px;
	cursor: pointer;
	margin-top: 15px;
	margin-right: 66px;
	float: left;
}
.partner-gibson:hover{
	background-image: url("_temp/partners/logo-gibson2.png");
}

.partner-bbuilder{
	background-image: url("_temp/partners/logo-bbuilder1.png");
	width: 103px;
	height: 57px;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 66px;
	float: left;
}
.partner-bbuilder:hover{
	background-image: url("_temp/partners/logo-bbuilder2.png");
}

.partner-bsf{
	background-image: url("_temp/partners/logo-bsf1.png");
	width: 169px;
	height: 37px;
	cursor: pointer;
	margin-top: 20px;
	float: right;
}
.partner-bsf:hover{
	background-image: url("_temp/partners/logo-bsf2.png");
}

.partner-statoil{
	background-image: url("_temp/partners/logo-statoil1.png");
	width: 305px;
	height: 43px;
	cursor: pointer;
	margin-top: 17px;
	margin-right: 52px;
	float: left;
}
.partner-statoil:hover{
	background-image: url("_temp/partners/logo-statoil2.png");
}

.partner-casamona{
	background-image: url("_temp/partners/logo-casamona1.png");
	width: 158px;
	height: 46px;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 52px;
	float: left;
}
.partner-casamona:hover{
	background-image: url("_temp/partners/logo-casamona2.png");
}

.partner-blueroots{
	background-image: url("_temp/partners/logo-blueroots1.png");
	width: 175px;
	height: 46px;
	cursor: pointer;
	margin-top: 15px;
	margin-right: 52px;
	float: left;
}
.partner-blueroots:hover{
	background-image: url("_temp/partners/logo-blueroots2.png");
}

.partner-roads{
	background-image: url("_temp/partners/logo-roads1.png");
	width: 75px;
	height: 75px;
	cursor: pointer;
	margin-top: 0px;
	margin-right: 52px;
	float: left;
}
.partner-roads:hover{
	background-image: url("_temp/partners/logo-roads2.png");
}

.partner-latvenergo{
	background-image: url("_temp/partners/logo-latvenergo1.png");
	width: 156px;
	height: 40px;
	cursor: pointer;
	margin-top: 19px;
	float: right;
}
.partner-latvenergo:hover{
	background-image: url("_temp/partners/logo-latvenergo2.png");
}

.partner-filterline{
	background-image: url("_temp/partners/logo-filterline1.png");
	width: 74px;
	height: 89px;
	cursor: pointer;
	margin-top: 0px;
	margin-right: 63px;
	float: left;
}
.partner-filterline:hover{
	background-image: url("_temp/partners/logo-filterline2.png");
}

.partner-lmt{
	background-image: url("_temp/partners/logo-lmt1.png");
	width: 128px;
	height: 46px;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 63px;
	float: left;
}
.partner-lmt:hover{
	background-image: url("_temp/partners/logo-lmt2.png");
}

.partner-brivosta{
	background-image: url("_temp/partners/logo-brivosta1.png");
	width: 86px;
	height: 79px;
	cursor: pointer;
	margin-top: 4px;
	margin-right: 63px;
	float: left;
}
.partner-brivosta:hover{
	background-image: url("_temp/partners/logo-brivosta2.png");
}

.partner-ventbunkers{
	background-image: url("_temp/partners/logo-ventbunkers1.png");
	width: 175px;
	height: 46px;
	cursor: pointer;
	margin-top: 27px;
	margin-right: 63px;
	float: left;
}
.partner-ventbunkers:hover{
	background-image: url("_temp/partners/logo-ventbunkers2.png");
}

.partner-latio{
	background-image: url("_temp/partners/logo-latio1.png");
	width: 113px;
	height: 53px;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 63px;
	float: left;
}
.partner-latio:hover{
	background-image: url("_temp/partners/logo-latio2.png");
}

.partner-ventspils{
	background-image: url("_temp/partners/logo-ventspils1.png");
	width: 188px;
	height: 62px;
	cursor: pointer;
	margin-top: 15px;
	float: right;
}




.up{
	background-image: url("img/up1.png");
	width: 59px;
	height: 58px;
	position: absolute;
	bottom: 15px;
	right: 20px;
	cursor: pointer;
}
.up:hover{
	background-image: url("img/up2.png");
}

/* ================== CONTACTS ====================== */

.contacts{
	height: 500px;
}

.contacts-subcontainer{
	margin: 0 100px;
}				
				
.contacts-map-container{
	width: 390px;
#	height: 273px;
#	background-color: aqua;
	float: left;
}

.contacts-map{
	width: 382px;
	height: 270px;
	margin: 0 auto;
	border: 4px solid #c7a457;
}

.contacts-info-container{
	width: 300px;
	height: 273px;
#	background-color: red;
	float: left;
}

.contacts-info-container .info{
	width: 280px;
	height: 273px;
#	background-color: blue;
	margin: 0 auto;
	text-align: center;
}

.contacts-info-container .info p{
	color: aqua;
}

.txt-dark{
	color: #c7a457;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: lighter;
	line-height: 27px;
}

.txt-light{
	color: #eacc8b;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: lighter;
	line-height: 27px;
}

.txt-submit{
	color: #eacc8b;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: lighter;
}

.contacts-form-container{
	width: 390px;
	height: 263px;
#	background-color: blue;
	float: left;
}

.contacts-form-container form input, form .text-field{
	background-color: #7f6c42;
	border: none;
	}

.firstname-field, .email-field{
	width: 165px;
	height: 30px;
	margin-top: 10px;
	padding-left: 10px;
	outline: none;
}

.firstname-field{
	margin-right: 33px;
}

.text-field{
	margin-top: 20px;
	width: 100%;
	height: 128px;
	resize: none;
	box-sizing: border-box;
	padding-left: 10px;
	outline: none;
}

.form-title{
	text-transform: uppercase;
	color: #eacc8b;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: lighter;
	margin-top: 0px;
}

.submit-field{
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #7f6c42;
  border: none;
  color: white;
  cursor: pointer;
}

.submit-field:hover{
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #eacc8b;
  border: none;
  color: white;
}

::-webkit-input-placeholder {
  color: #b1965c;
}
