/* IZMANTOTI VAIRAKKART */

.clear{
	clear: both;
}

.icon-subblock{
	float: left;
}

.text-subblock{
	width: 250px;
	float: left;
	margin-left: 10px;
}

	.text-subblock h2{
		margin-top: 0px;
		font-family: 'Open Sans';
		font-size: 24px;
		font-weight: lighter;
		color: #473a15;
	}

		.text-subblock p{
			font-family: 'Open Sans';
			font-size: 15px;
			font-weight: lighter;
			color: #534c38;
		}

.line{
	border-bottom: 1px solid #534c38;
	width: 55px;
}

.main-container{
	width: 1280px;
	margin: 0 auto;
}

/* ================== HEADER ====================== */

.header{
	height: 95px;
	background-color: #473a2d;
}

	.header .logo{
		height: 100%;
		width: 250px;
	#	background-color: red;
		margin-left: 100px;
		float: left;
	}

		.header .logo .logo-image{
			margin-top: 22px;
		}

/* ================== MENU ====================== */

	.header .menu-container{
		width: 615px;
		background-color: red;
		margin-right: 100px;
		float: right;
		padding: 19px 0;
	}

		.header .menu-container .menu{
			height: 55px;
			width: 499px;
			background-color: #00dbfd;
			float: left;
			border-right: 1px solid white;
		}

			.header .menu-container .menu ul{
				list-style-type: none; 
				}
			.header .menu-container .menu ul li{
				float: left; 
				font-family: 'Open Sans';
				font-size: 15px;
				}
			.header .menu-container .menu ul li a{
				display: block;
				padding: 10px;
				text-decoration: none;
				color: white;
				margin-top: -8px;
				}
			.header .menu-container .menu ul li a:hover{
				background-color: #5b4d3b;
				}

		.header .menu-container .languages{
			height: 55px;
			width: 115px;
			background-color: fuchsia;
			float: right;
		}

		.header .menu-container .languages ul{
				list-style-type: none; 
		}
		
		.header .menu-container .languages ul li{
			float: left; 
			font-family: 'Open Sans';
			font-size: 13px;	
		}		
		
		.header .menu-container .languages ul li a{
			display: block;
			padding: 10px;
			text-decoration: none;
			color: white;
			margin-top: -8px;
		}
		.header .menu-container .languages ul li a:hover{
			background-color: #5b4d3b;
		}
/* ================== SLIDER ====================== */

.slider{
	width: 1280px;
	height: 543px;
}

	.slider-image{
	
	}

/* ================== SERVICES ====================== */

.services-prices-container{
	background-image: url("img/bg-light.gif");
}


	.services-prices-container .services{
		height: 700px;
	#	background-color: red;
	#	opacity: 0.3;
	}

		.services-prices-container .services .title-container{
			height: 111px;
			margin-left: 100px;
			margin-right: 100px;
		#	background-color: blue;
			border-bottom: 1px dashed #63501e;
			margin-bottom: 30px;
			}
	
			.title-pakalpojumi{
				text-align: center;
				font-family: 'Open Sans';
				font-size: 30px;
				font-weight: lighter;
				color: #95782d;
				padding-top: 40px;
				}

		.services-prices-container .services .bloki{
			margin-left: 100px;
			margin-right: 100px;
		#	background-color: yellow;
			}
	
			.services-prices-container .services .bloks1{
				width: 340px;
			#	background-color: blue;
				float: left;
				}
			.services-prices-container .services .bloks2{
				float: left;
				width: 340px;
			#	background-color: red;
				margin: 0 30px;
				}
			.services-prices-container .services .bloks3{
				float: left;
				width: 340px;
			#	background-color: brown;
				}

	.services-prices-container .prices{
		height: 400px;
	#	background-color: aqua;
	}

		.services-prices-container .prices .title-container{
			height: 111px;
			margin-left: 100px;
			margin-right: 100px;
		#	background-color: blue;
			border-bottom: 1px dashed #63501e;
			margin-bottom: 30px;
			}

			.title-izcenojumi{
				text-align: center;
				font-family: 'Open Sans';
				font-size: 30px;
				font-weight: lighter;
				color: #95782d;
				padding-top: 40px;
				}


		.services-prices-container .prices .izcenojumi-bloki{
			margin-left: 100px;
			margin-right: 100px;
		}
		
		
		
		
		
		
		
		
/* ================== ABOUT US ====================== */

.about-us{
	height: 400px;
	background-color: blue;
}

/* ================== CLIENTS ====================== */

.clients{
	height: 300px;
	background-color: green;
}

/* ================== CONTACTS ====================== */

.contacts{
	
}
